* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.6%;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    background-color: #aaa;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
}

header > h1 {
    padding-top: 5rem;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 5rem;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    letter-spacing: 0.2rem;
    transition-duration: 0.4s; 
}

section {
    padding: 10vh 0;
    padding-left: 3rem;
    line-height: 3.2rem;
}

.normal {
    background-color: #fff;
    color: #000;
}

.image {
    background-color: #0f0f0f;
    color: #fff;
}

.image > p {
    background-color: #0000002a;
    width: 40rem;
}

footer {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 1rem;
}

